In [53]:
import pandas as pd
from tqdm import tqdm

In [54]:
def process_for_GowallaCA(df):
    pd.options.mode.chained_assignment = None
    df.insert(loc=2, column='POI_catid', value='')
    df.insert(loc=7, column='timezone', value=0)
    df.insert(loc=8, column='UTC_time', value='')
    df.insert(loc=10, column='day_of_week', value=0)
    df = df[df['POI_catname'] != 'dummy']
    df.rename(columns={'checkin_time': 'local_time'}, inplace=True)
    df['POI_catid'] = df.apply(lambda x: eval(x['POI_catname'].replace(";", ","))[0]['url'], axis=1)
    return df

In [55]:
dataset = 'Gowalla-CA'
df_train = pd.read_csv(rf'./{dataset}/{dataset}_train.csv')
df_val = pd.read_csv(rf'./{dataset}/{dataset}_val.csv')
df_test = pd.read_csv(rf'./{dataset}/{dataset}_test.csv')
if dataset == 'Gowalla-CA':
    df_train = process_for_GowallaCA(df_train)
    df_val = process_for_GowallaCA(df_val)
    df_test = process_for_GowallaCA(df_test)

In [56]:
df_train.head()
df_val.head()
df_test.head()

,user_id,POI_id,POI_catid,POI_catid_code,POI_catname,latitude,longitude,timezone,UTC_time,local_time,day_of_week,norm_in_day_time,norm_day_shift,norm_relative_time,trajectory_id
0,465,9174,/categories/121,19,[{'url': '/categories/121'; 'name': 'Corporate...,37.421059,-122.212952,0,,2009-03-16 21:16:56+00:00,0,0.875000,0,0.875000,465_2
1,465,9069,/categories/121,19,[{'url': '/categories/121'; 'name': 'Corporate...,37.444077,-122.163076,0,,2009-03-16 22:01:00+00:00,0,0.916667,0,0.916667,465_2
2,465,9175,/categories/1,0,[{'url': '/categories/1'; 'name': 'Coffee Shop'}],37.444839,-122.161424,0,,2009-03-16 22:06:05+00:00,0,0.916667,0,0.916667,465_2
3,130,9668,/categories/134,28,[{'url': '/categories/134'; 'name': 'Universit...,37.723886,-122.479298,0,,2009-03-20 02:49:01+00:00,0,0.104167,0,0.104167,130_1
4,130,9583,/categories/241,130,[{'url': '/categories/241'; 'name': 'Bar'}],37.783045,-122.465136,0,,2009-03-20 04:24:15+00:00,0,0.166667,0,0.166667,130_1

,user_id,POI_id,POI_catid,POI_catid_code,POI_catname,latitude,longitude,timezone,UTC_time,local_time,day_of_week,norm_in_day_time,norm_day_shift,norm_relative_time,trajectory_id
0,2283,75441,/categories/64,249,[{'url': '/categories/64'; 'name': 'Other - Fo...,37.769819,-122.404011,0,,2010-08-24 19:18:03+00:00,0,0.791667,12,12.791667,2283_12
1,2828,623513,/categories/119,18,[{'url': '/categories/119'; 'name': 'Gas & Aut...,34.067476,-117.264376,0,,2010-08-24 19:19:06+00:00,0,0.791667,0,0.791667,2828_37
2,100174,426270,/categories/363,158,[{'url': '/categories/363'; 'name': 'Chipotle'}],37.775248,-121.977984,0,,2010-08-24 19:24:58+00:00,0,0.791667,2,2.791667,100174_11
3,769,203466,/categories/26,134,[{'url': '/categories/26'; 'name': 'Ultra-loun...,37.791847,-122.410253,0,,2010-08-24 19:26:01+00:00,0,0.791667,1,1.791667,769_1
4,769,202082,/categories/389,174,[{'url': '/categories/389'; 'name': 'InterCont...,37.791659,-122.410612,0,,2010-08-24 19:27:02+00:00,0,0.791667,1,1.791667,769_1

,user_id,POI_id,POI_catid,POI_catid_code,POI_catname,latitude,longitude,timezone,UTC_time,local_time,day_of_week,norm_in_day_time,norm_day_shift,norm_relative_time,trajectory_id
0,5604,33189,/categories/1,0,[{'url': '/categories/1'; 'name': 'Coffee Shop'}],37.751523,-122.431125,0,,2010-09-22 14:59:55+00:00,0,0.604167,1,1.604167,5604_68
1,8670,534376,/categories/121,19,[{'url': '/categories/121'; 'name': 'Corporate...,33.981997,-118.405752,0,,2010-09-22 15:00:32+00:00,0,0.625000,1,1.625000,8670_64
2,2262,31518,/categories/164,58,[{'url': '/categories/164'; 'name': 'Subway'}],37.779102,-122.414314,0,,2010-09-22 15:02:33+00:00,0,0.625000,2,2.625000,2262_4
3,23161,55249,/categories/1,0,[{'url': '/categories/1'; 'name': 'Coffee Shop'}],35.997270,-115.124693,0,,2010-09-22 15:02:43+00:00,0,0.625000,0,0.625000,23161_6
4,4547,1529016,/categories/121,19,[{'url': '/categories/121'; 'name': 'Corporate...,33.537095,-117.175707,0,,2010-09-22 15:05:03+00:00,0,0.625000,16,16.625000,4547_13

In [57]:
df_train.info()
print('=' * 64)
df_val.info()
print('=' * 64)
df_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 191116 entries, 0 to 193505
Data columns (total 15 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   user_id             191116 non-null  int64
 1   POI_id              191116 non-null  int64
 2   POI_catid           191116 non-null  object
 3   POI_catid_code      191116 non-null  int64
 4   POI_catname         191116 non-null  object
 5   latitude            191116 non-null  float64
 6   longitude           191116 non-null  float64
 7   timezone            191116 non-null  int64
 8   UTC_time            191116 non-null  object
 9   local_time          191116 non-null  object
 10  day_of_week         191116 non-null  int64
 11  norm_in_day_time    191116 non-null  float64
 12  norm_day_shift      191116 non-null  int64
 13  norm_relative_time  191116 non-null  float64
 14  trajectory_id       191116 non-null  object
dtypes: float64(4), int64(6), object(5)
memory usage: 23.3+ MB
================================================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 23595 entries, 0 to 23943
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             23595 non-null  int64
 1   POI_id              23595 non-null  int64
 2   POI_catid           23595 non-null  object
 3   POI_catid_code      23595 non-null  int64
 4   POI_catname         23595 non-null  object
 5   latitude            23595 non-null  float64
 6   longitude           23595 non-null  float64
 7   timezone            23595 non-null  int64
 8   UTC_time            23595 non-null  object
 9   local_time          23595 non-null  object
 10  day_of_week         23595 non-null  int64
 11  norm_in_day_time    23595 non-null  float64
 12  norm_day_shift      23595 non-null  int64
 13  norm_relative_time  23595 non-null  float64
 14  trajectory_id       23595 non-null  object
dtypes: float64(4), int64(6), object(5)
memory usage: 2.9+ MB
================================================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 23778 entries, 0 to 24159
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             23778 non-null  int64
 1   POI_id              23778 non-null  int64
 2   POI_catid           23778 non-null  object
 3   POI_catid_code      23778 non-null  int64
 4   POI_catname         23778 non-null  object
 5   latitude            23778 non-null  float64
 6   longitude           23778 non-null  float64
 7   timezone            23778 non-null  int64
 8   UTC_time            23778 non-null  object
 9   local_time          23778 non-null  object
 10  day_of_week         23778 non-null  int64
 11  norm_in_day_time    23778 non-null  float64
 12  norm_day_shift      23778 non-null  int64
 13  norm_relative_time  23778 non-null  float64
 14  trajectory_id       23778 non-null  object
dtypes: float64(4), int64(6), object(5)
memory usage: 2.9+ MB

In [58]:
df_train.describe()
df_val.describe()
df_test.describe()

,user_id,POI_id,POI_catid_code,latitude,longitude,timezone,day_of_week,norm_in_day_time,norm_day_shift,norm_relative_time
count,191116.000000,1.911160e+05,191116.000000,191116.000000,191116.000000,191116.0,191116.0,191116.000000,191116.000000,191116.000000
mean,31674.064505,1.998269e+05,127.871759,36.531963,-120.490868,0.0,0.0,0.513635,2.481985,2.995620
std,44441.157120,2.893039e+05,95.483057,1.727319,2.548450,0.0,0.0,0.349779,5.615900,5.609453
min,0.000000,8.947000e+03,0.000000,32.542739,-122.870021,0.0,0.0,0.000000,0.000000,0.000000
25%,3295.000000,3.137000e+04,42.000000,34.189495,-122.404575,0.0,0.0,0.145833,0.000000,0.875000
50%,7661.000000,7.438900e+04,124.000000,37.520942,-122.141348,0.0,0.0,0.666667,1.000000,1.687500
75%,39638.000000,2.380060e+05,210.000000,37.783633,-118.221233,0.0,0.0,0.833333,3.000000,3.000000
max,195684.000000,2.308824e+06,299.000000,39.730270,-114.036999,0.0,0.0,0.979167,118.000000,118.187500

,user_id,POI_id,POI_catid_code,latitude,longitude,timezone,day_of_week,norm_in_day_time,norm_day_shift,norm_relative_time
count,23595.000000,2.359500e+04,23595.000000,23595.000000,23595.000000,23595.0,23595.0,23595.000000,23595.000000,23595.000000
mean,36785.689934,3.644789e+05,132.753338,36.230645,-119.969502,0.0,0.0,0.509381,2.614579,3.123960
std,46950.665763,5.625376e+05,94.803623,1.800742,2.687770,0.0,0.0,0.347300,5.119066,5.106989
min,2.000000,8.947000e+03,0.000000,32.542739,-123.208381,0.0,0.0,0.000000,0.000000,0.000000
25%,2521.000000,3.379300e+04,43.000000,34.099084,-122.393900,0.0,0.0,0.125000,0.000000,0.875000
50%,13007.000000,1.144020e+05,131.000000,37.334032,-121.926613,0.0,0.0,0.645833,1.000000,1.750000
75%,49400.000000,4.171810e+05,210.000000,37.775102,-117.910619,0.0,0.0,0.833333,3.000000,3.104167
max,196561.000000,4.089460e+06,299.000000,39.530235,-114.036999,0.0,0.0,0.979167,66.000000,66.062500

,user_id,POI_id,POI_catid_code,latitude,longitude,timezone,day_of_week,norm_in_day_time,norm_day_shift,norm_relative_time
count,23778.000000,2.377800e+04,23778.000000,23778.000000,23778.000000,23778.0,23778.0,23778.000000,23778.000000,23778.000000
mean,33209.623139,4.003009e+05,134.833207,36.172132,-119.727316,0.0,0.0,0.516917,2.078224,2.595140
std,44582.245868,7.251851e+05,96.321165,1.749483,2.767283,0.0,0.0,0.344859,3.878265,3.869541
min,2.000000,8.947000e+03,0.000000,32.542739,-123.208381,0.0,0.0,0.000000,0.000000,0.000000
25%,2320.000000,3.347200e+04,43.000000,34.087572,-122.386695,0.0,0.0,0.145833,0.000000,0.854167
50%,11660.000000,1.141630e+05,134.000000,37.304164,-121.591596,0.0,0.0,0.645833,1.000000,1.645833
75%,39493.000000,4.345550e+05,219.000000,37.767117,-117.742551,0.0,0.0,0.812500,2.000000,2.875000
max,196561.000000,5.562108e+06,299.000000,39.530235,-114.732134,0.0,0.0,0.979167,55.000000,55.895833

In [59]:
df_train['user_id'].nunique()

3652

In [60]:
user_checkins = []
for index, checkins in df_train.groupby('user_id'):
    user_checkins.append(len(checkins))
user_checkins = pd.DataFrame(user_checkins)
user_checkins.describe()

                 0
count  3652.000000
mean     52.331873
std     101.075964
min       1.000000
25%      13.000000
50%      22.000000
75%      47.000000
max    1426.000000

In [61]:
def statistic(data_df):
    start_cur_day_diff, cur_next_minute_diff, the_same = [], [], []
    data_df = data_df.groupby(['trajectory_id']).filter(lambda x: len(x) > 2)
    data_df['local_time'] = pd.to_datetime(data_df['local_time'])  # convert time column to datetime format
    data_df = data_df.sort_values(['user_id', 'local_time'])  # sort

    for trajectory_id, trajectory in tqdm(data_df.groupby('trajectory_id'), desc=f"Prepare training dataset"):
        start_date = trajectory.iloc[0]['local_time']

        for index in range(len(trajectory) - 1):
            _, pid, cid, _, _, _, _, _, _, tim, _, _, _, _, _ = trajectory.iloc[index]
            _, next_pid, next_cid, _, _, _, _, _, _, next_tim, _, _, _, _, _ = trajectory.iloc[index + 1]
            start_cur_diff = tim - start_date
            cur_next_diff = next_tim - tim
            start_cur_day_diff.append(start_cur_diff.days)
            cur_next_minute_diff.append(cur_next_diff.seconds / 60)
            the_same.append(pid == next_pid)

    return pd.DataFrame(start_cur_day_diff), pd.DataFrame(cur_next_minute_diff), the_same

In [62]:
start_cur_day_diff, cur_next_minute_diff, the_same = statistic(df_train)

Prepare training dataset: 100%|██████████| 22036/22036 [00:23<00:00, 933.03it/s]

In [63]:
start_cur_day_diff, cur_next_minute_diff, the_same

(        0
 0       0
 1       0
 2       0
 3       0
 4       0
 ...    ..
 168596  0
 168597  0
 168598  1
 168599  0
 168600  0

 [168601 rows x 1 columns],
                   0
 0        202.533333
 1         29.416667
 2        440.583333
 3        305.150000
 4        328.000000
 ...             ...
 168596  1255.233333
 168597  1336.133333
 168598  1041.466667
 168599  1148.416667
 168600    47.200000

 [168601 rows x 1 columns],
 [False,
  False,
  False,
  False,
  True,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  True,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  True,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  True,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  True,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  True,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  True,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  True,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  True,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  True,
  False,
  False,
  False,
  False,
  False,
  False,
  True,
  False,
  False,
  False,
  False,
  False,
  True,
  False,
  False,
  False,
  False,
  False,
  False,
  True,
  False,
  False,
  False,
  False,
  False,
  False,
  True,
  True,
  True,
  True,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  True,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  True,
  False,
  False,
  False,
  False,
  False,
  True,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  True,
  False,
  False,
  False,
  False,
  False,
  False,
  True,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  True,
  ...])

In [64]:
start_cur_day_diff.describe()
cur_next_minute_diff.describe()

                   0
count  168601.000000
mean        2.292045
std         5.916709
min         0.000000
25%         0.000000
50%         1.000000
75%         2.000000
max       116.000000

                   0
count  168601.000000
mean      343.625082
std       435.721508
min         0.000000
25%         8.216667
50%       119.650000
75%       590.650000
max      1439.983333

In [65]:
count = 0
for i in the_same:
    if i:
        count += 1
count
len(the_same) - count

6910

161691

In [69]:
greater_than_3_count = start_cur_day_diff[start_cur_day_diff[0] > 3].shape[0]
greater_than_3_count

27804