In [1]:
import pandas as pd

In [2]:
dataset = 'NYC'
df_train = pd.read_csv(rf'G:/Tree-based_Next_POI_Recommendation/MTNet_test/dataset/{dataset}/{dataset}_train.csv')
df_val = pd.read_csv(rf'G:/Tree-based_Next_POI_Recommendation/MTNet_test/dataset/{dataset}/{dataset}_val.csv')
df_test = pd.read_csv(rf'G:/Tree-based_Next_POI_Recommendation/MTNet_test/dataset/{dataset}/{dataset}_test.csv')

In [3]:
df_train.head()
df_val.head()
df_test.head()

,user_id,POI_id,POI_catid,POI_catid_code,POI_catname,latitude,longitude,timezone,UTC_time,local_time,day_of_week,norm_in_day_time,trajectory_id,norm_day_shift,norm_relative_time
0,470,49bbd6c0f964a520f4531fe3,4bf58dd8d48988d127951735,75,Arts & Crafts Store,40.719810,-74.002581,-240,2012-04-03 18:00:09+00:00,2012-04-03 14:00:09+00:00,1,0.583333,470_1,0,0.583333
1,979,4a43c0aef964a520c6a61fe3,4bf58dd8d48988d1df941735,252,Bridge,40.606800,-74.044170,-240,2012-04-03 18:00:25+00:00,2012-04-03 14:00:25+00:00,1,0.583333,979_1,0,0.583333
2,69,4c5cc7b485a1e21e00d35711,4bf58dd8d48988d103941735,6,Home (private),40.716162,-73.883070,-240,2012-04-03 18:02:24+00:00,2012-04-03 14:02:24+00:00,1,0.583333,69_1,0,0.583333
3,428,4ce1863bc4f6a35d8bd2db6c,4bf58dd8d48988d103941735,6,Home (private),40.619151,-74.035888,-240,2012-04-03 18:06:18+00:00,2012-04-03 14:06:18+00:00,1,0.583333,428_1,0,0.583333
4,116,4c0ab56f7e3fc9288c1df482,4f04afc02fb6e1c99f3db0bc,362,Mobile Phone Shop,40.741191,-73.989663,-240,2012-04-03 18:09:29+00:00,2012-04-03 14:09:29+00:00,1,0.583333,116_1,0,0.583333

,user_id,POI_id,POI_catid,POI_catid_code,POI_catname,latitude,longitude,timezone,UTC_time,local_time,day_of_week,norm_in_day_time,trajectory_id,norm_day_shift,norm_relative_time
0,185,4fa5cedbe4b038e6a2b5ed1c,4bf58dd8d48988d11e941735,58,Bar,40.965172,-74.062746,-300,2012-11-09 21:54:47+00:00,2012-11-09 16:54:47+00:00,4,0.687500,185_41,0,0.687500
1,488,3fd66200f964a520bce31ee3,4bf58dd8d48988d147941735,111,Diner,40.752188,-73.993585,-300,2012-11-09 22:01:31+00:00,2012-11-09 17:01:31+00:00,4,0.708333,488_23,0,0.708333
2,488,4b0737c3f964a520e4f922e3,4bf58dd8d48988d1fd931735,307,Subway,40.756506,-73.988028,-300,2012-11-09 22:03:07+00:00,2012-11-09 17:03:07+00:00,4,0.708333,488_23,0,0.708333
3,239,42911d00f964a520f5231fe3,4bf58dd8d48988d129951735,79,Train Station,40.750795,-73.993576,-300,2012-11-09 22:07:11+00:00,2012-11-09 17:07:11+00:00,4,0.708333,239_13,0,0.708333
4,872,4a70a76cf964a52017d81fe3,50328a8e91d4c4b30a586d6c,393,Office,40.738155,-74.001232,-300,2012-11-09 22:24:33+00:00,2012-11-09 17:24:33+00:00,4,0.708333,872_46,0,0.708333

,user_id,POI_id,POI_catid,POI_catid_code,POI_catname,latitude,longitude,timezone,UTC_time,local_time,day_of_week,norm_in_day_time,trajectory_id,norm_day_shift,norm_relative_time
0,349,4fc7f3dfe4b0896b9f093264,4f2a23984b9023bd5841ed2c,368,Moving Target,40.813099,-74.001801,-300,2012-12-21 13:29:31+00:00,2012-12-21 08:29:31+00:00,4,0.333333,349_52,0,0.333333
1,198,50c85b8de4b090305763bf7e,4deefb944765f83613cdba6e,332,Historic Site,40.755385,-73.983650,-300,2012-12-21 13:29:57+00:00,2012-12-21 08:29:57+00:00,4,0.333333,198_47,0,0.333333
2,521,4c3725790a71c9b60a3f3ec9,4f2a25ac4b909258e854f55f,369,Neighborhood,40.753696,-73.988441,-300,2012-12-21 13:36:51+00:00,2012-12-21 08:36:51+00:00,4,0.354167,521_54,0,0.354167
3,521,4a7c5c69f964a5205dec1fe3,4bf58dd8d48988d1cb941735,234,Food Truck,40.753889,-73.987384,-300,2012-12-21 13:37:34+00:00,2012-12-21 08:37:34+00:00,4,0.354167,521_54,0,0.354167
4,742,4e18dbedae6092c27656cead,4d954b06a243a5684965b473,329,Residential Building (Apartment / Condo),40.703220,-73.943671,-300,2012-12-21 13:51:20+00:00,2012-12-21 08:51:20+00:00,4,0.354167,742_31,0,0.354167

In [4]:
df_train.info()
print('=' * 64)
df_val.info()
print('=' * 64)
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83228 entries, 0 to 83227
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             83228 non-null  int64
 1   POI_id              83228 non-null  object
 2   POI_catid           83228 non-null  object
 3   POI_catid_code      83228 non-null  int64
 4   POI_catname         83228 non-null  object
 5   latitude            83228 non-null  float64
 6   longitude           83228 non-null  float64
 7   timezone            83228 non-null  int64
 8   UTC_time            83228 non-null  object
 9   local_time          83228 non-null  object
 10  day_of_week         83228 non-null  int64
 11  norm_in_day_time    83228 non-null  float64
 12  trajectory_id       83228 non-null  object
 13  norm_day_shift      83228 non-null  int64
 14  norm_relative_time  83228 non-null  float64
dtypes: float64(4), int64(5), object(6)
memory usage: 9.5+ MB
================================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10339 entries, 0 to 10338
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             10339 non-null  int64
 1   POI_id              10339 non-null  object
 2   POI_catid           10339 non-null  object
 3   POI_catid_code      10339 non-null  int64
 4   POI_catname         10339 non-null  object
 5   latitude            10339 non-null  float64
 6   longitude           10339 non-null  float64
 7   timezone            10339 non-null  int64
 8   UTC_time            10339 non-null  object
 9   local_time          10339 non-null  object
 10  day_of_week         10339 non-null  int64
 11  norm_in_day_time    10339 non-null  float64
 12  trajectory_id       10339 non-null  object
 13  norm_day_shift      10339 non-null  int64
 14  norm_relative_time  10339 non-null  float64
dtypes: float64(4), int64(5), object(6)
memory usage: 1.2+ MB
================================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10374 entries, 0 to 10373
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             10374 non-null  int64
 1   POI_id              10374 non-null  object
 2   POI_catid           10374 non-null  object
 3   POI_catid_code      10374 non-null  int64
 4   POI_catname         10374 non-null  object
 5   latitude            10374 non-null  float64
 6   longitude           10374 non-null  float64
 7   timezone            10374 non-null  int64
 8   UTC_time            10374 non-null  object
 9   local_time          10374 non-null  object
 10  day_of_week         10374 non-null  int64
 11  norm_in_day_time    10374 non-null  float64
 12  trajectory_id       10374 non-null  object
 13  norm_day_shift      10374 non-null  int64
 14  norm_relative_time  10374 non-null  float64
dtypes: float64(4), int64(5), object(6)
memory usage: 1.2+ MB

In [5]:
df_train.describe()
df_val.describe()
df_test.describe()

,user_id,POI_catid_code,latitude,longitude,timezone,day_of_week,norm_in_day_time,norm_day_shift,norm_relative_time
count,83228.000000,83228.000000,83228.000000,83228.000000,83228.000000,83228.000000,83228.000000,83228.000000,83228.000000
mean,541.888835,164.652100,40.755375,-73.972527,-237.083193,2.859218,0.543210,1.774475,2.317685
std,297.080896,113.987394,0.076754,0.083348,54.214823,1.967320,0.247360,2.731941,2.721493
min,1.000000,0.000000,40.557295,-74.270751,-420.000000,0.000000,0.000000,0.000000,0.000000
25%,296.000000,69.000000,40.714862,-73.999958,-240.000000,1.000000,0.354167,0.000000,0.750000
50%,521.000000,141.000000,40.749262,-73.983190,-240.000000,3.000000,0.541667,1.000000,1.437500
75%,784.000000,277.000000,40.781292,-73.944861,-240.000000,4.000000,0.750000,2.000000,2.687500
max,1083.000000,399.000000,40.987646,-73.686199,540.000000,6.000000,0.979167,23.000000,23.625000

,user_id,POI_catid_code,latitude,longitude,timezone,day_of_week,norm_in_day_time,norm_day_shift,norm_relative_time
count,10339.000000,10339.000000,10339.000000,10339.000000,10339.000000,10339.000000,10339.000000,10339.000000,10339.000000
mean,524.724345,166.800464,40.766555,-73.973230,-299.994197,2.874263,0.546664,2.138795,2.685459
std,306.957239,115.784465,0.076060,0.087877,0.590081,2.059488,0.266184,3.988883,3.977179
min,2.000000,0.000000,40.571283,-74.270751,-300.000000,0.000000,0.000000,0.000000,0.000000
25%,293.000000,69.000000,40.723107,-73.998130,-300.000000,1.000000,0.354167,0.000000,0.791667
50%,519.000000,148.000000,40.754002,-73.979639,-300.000000,3.000000,0.562500,1.000000,1.500000
75%,806.000000,293.000000,40.803562,-73.941860,-300.000000,5.000000,0.770833,2.000000,2.718750
max,1083.000000,399.000000,40.974462,-73.693499,-240.000000,6.000000,0.979167,30.000000,30.833333

,user_id,POI_catid_code,latitude,longitude,timezone,day_of_week,norm_in_day_time,norm_day_shift,norm_relative_time
count,10374.000000,10374.000000,10374.000000,10374.000000,10374.000000,10374.000000,10374.000000,10374.000000,10374.000000
mean,532.248313,170.962213,40.761003,-73.971233,-299.919028,2.842009,0.528694,1.811741,2.340434
std,308.824795,117.536672,0.074977,0.091604,9.462219,1.912883,0.257778,3.068129,3.059381
min,2.000000,0.000000,40.567089,-74.260553,-360.000000,0.000000,0.000000,0.000000,0.000000
25%,293.000000,69.000000,40.716069,-74.000720,-300.000000,1.000000,0.333333,0.000000,0.770833
50%,521.000000,151.000000,40.750795,-73.981898,-300.000000,3.000000,0.541667,1.000000,1.458333
75%,808.000000,299.000000,40.780830,-73.940120,-300.000000,4.000000,0.750000,2.000000,2.604167
max,1083.000000,399.000000,40.974462,-73.685820,660.000000,6.000000,0.979167,33.000000,33.458333

In [6]:
df_train['user_id'].nunique()

1047

In [7]:
user_checkins = []
for index, checkins in df_train.groupby('user_id'):
    user_checkins.append(len(checkins))
user_checkins = pd.DataFrame(user_checkins)
user_checkins.describe()

                 0
count  1047.000000
mean     79.491882
std     125.354441
min       3.000000
25%      19.000000
50%      39.000000
75%      88.500000
max    1442.000000